body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



header {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}
.nav {
  display: flex;
  flex-direction: row;
}
.logo {
  margin-left: 10rem;
  margin-right: 50rem;
  width: 100px;
  height: 100px;
}
.links {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.lista{
  display: flex;
  flex-direction: row;
}
.itemsList{
  background-color: wheat;
}
.subTitulo{
  margin-top: 15%;
  text-align: center;
  font-family: cursive;
}
.pagError{
  margin-top: 15%;
  text-align: center;
  font-family: cursive;
}
.linksDirectos{
  margin-left: 5rem;
}

.enlaces{
  margin: 5px;
  text-decoration: none;
  background-color: black;
  color: white;
}



.detalle-prod{
  text-align: center;
  background-color: darkviolet;
  color: azure;
}
.titulo-detalle-prod{
  text-align: center;
  
}
.foto-detalle-prod{
  height: 350px;
  
}

#formatoImg{
  width: 350px;
  margin-left: 5rem;
}

#seccion-prod{
  display: flex;
  flex-direction: row;
}
.sub-titulos-prod{
  margin-left: 15rem;
  margin-top: 10%;
}

#contador{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.numero{
  font-size: 20pt;
}
#menos, #mas{
  padding-top: 0;
  padding-bottom: 0;
}

#botonLargo{
  margin-top: 50px;
  width: 200px;
  margin-left: 1.5rem;
}
.volver{
  
  padding: 3px;
  font-size: 13pt;
  background-color: red;
  color: white;
  border-radius: 25px;
}
.naveg{
  margin: 15px;
}

#icono{
  font-size:30px;
}